.itemLayout {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  position: relative;
}

.itemLayout:hover {
  background-color: #f6f9fd;
}

.itemLayout:hover > .deleteHotelButton {
  display: block;
}

.itemBody {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttonLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteHotelButton {
  display: none;
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  color: red;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.imageLayout {
  flex: 1;
}

.imageLayout > img {
  width: 100%;
  height: 100%;
}

.hotelPoint {
  color: #17cec4;
  background-color: #f6f9fd;
  font-size: large;
}

@media (hover: none) {
  .itemLayout {
    background-color: #f6f9fd;
  }
  .itemLayout > .deleteHotelButton {
    display: block;
  }
}
