.newHotelLayout {
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.saveButtonLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

@media screen and (max-width: 768px) {
  .newHotelLayout {
    width: 80vw;
  }
}
